@import url("https://fonts.googleapis.com/css2?family=Yantramanav&display=swap");

body {
    height: 100vh;
}

h1, h2, h3, p {
    font-family: "Yantramanav", sans-serif;
}

a {
    text-decoration: none;

    color: white;
}