<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Goscord - Documentation</title>

    <link rel="icon" type="image/png" href="/images/logo.png"/>

    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/base.css">

    <link rel="stylesheet" href="/css/pages/documentation.css">
</head>
<body>
    <p>TODO...</p>
</body>
</html>