<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Goscord is a Discord bot creation API written in the Go programming language. It offers a high level API rich in possibilities and which evolves at the same pace as Discord.">
    <meta name="theme-color" content="#5aa469">

    <title>Goscord</title>

    <link rel="icon" type="image/png" href="/images/logo.png"/>

    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/base.css">

    <link rel="stylesheet" href="/css/prism.css">

    <link rel="stylesheet" href="/css/pages/index.css">

    <script src="/scripts/index.js"></script>
</head>
<body>
    <header>
        <h1>GOSCORD</h1>

        <h2 id="description">The best <strong>Discord API</strong> in <strong>Go</strong>.</h2>

        <div class="buttons">
            <p class="button"><a href="https://github.com/Goscord" target="_blank">GitHub</a></p>
            <p class="button"><a href="./discord" target="_blank">Join our Discord</a></p>
        
            <p class="button" onclick="copyText(this)"><img class="copy-image" src="/images/UI/copy.svg" alt="copy">go get github.com/Goscord/goscord</p>
        </div>
        
        <!-- Scroll mouse UI -->
        <div class="scroll-mouse">
            <img src="/images/UI/mouse.svg" alt="scroll mouse">
            <p>Scroll to see more</p>
        </div>

        <!-- Bubble for animation -->
        <ul class="bubbles">
            <% for(let i = 0; i < 50; i++){ %>
                <li></li>
            <% } %>
        </ul>

        <!-- Corners -->
        <div class="corners">
            <% for(let i = 0; i < 4; i++){ %>
                <img src="/images/elements/corner.svg" alt="corner">
            <% } %>
        </ul>
    </header>

    <section class="what-is">
        <h3>What is <strong>Goscord</strong>?</h3>

        <p>Goscord is a <strong>Discord bot</strong> creation API written in the Go programming language. It offers a high level <strong>API</strong> rich in possibilities and which evolves at the same pace as <strong>Discord</strong>.</p>

        <div class="advantages">
            <div class="advantage">
                <div class="advantage-top">
                    <div class="advantage-emoji"><p>❤️</p></div>
                    <p class="advantage-title">Use plain Go</p>
                </div>
                
                <p class="advantage-description">Goscord is written entirely in Golang, no C dependencies, no more compilation issues!</p>
            </div>

            <div class="advantage">
                <div class="advantage-top">
                    <div class="advantage-emoji"><p>🕔</p></div>
                    <p class="advantage-title">Fast development time</p>    
                </div>
                
                <p class="advantage-description">Goscord is easy to use which allows you to develop Discord applications quickly and easily!</p>
            </div>

            <div class="advantage">
                <div class="advantage-top">
                    <div class="advantage-emoji"><p>✈️</p></div>
                    <p class="advantage-title">Speedy execution</p>    
                </div>
                
                <p class="advantage-description">Create ultra-fast Discord applications with Golang's speed and Goscord's optimization!</p>
            </div>

            <div class="advantage">
                <div class="advantage-top">
                    <div class="advantage-emoji"><p>📈</p></div>
                    <p class="advantage-title">Active development</p>    
                </div>
                
                <p class="advantage-description">We are actively developing Goscord to add all the necessary content, we are reactive to updates of the Discord API.</p>
            </div>
        </div>
    </section>

    <section class="examples">
        <div class="setup">
            <p id="setup">Set up!</p>

            <p>You must first have <a href="https://golang.org/" target="_blank">Go</a> installed on your computer and know the basics of this programming language.</p>

            <p>You can then install the Goscord package by copying this command line into your terminal:</p>

            <p class="button" onclick="copyText(this)"><img class="copy-image" src="/images/UI/copy.svg" alt="copy">go get github.com/Goscord/goscord</p>

            <p>That's it, now you can copy the following example and start creating your <strong>Discord bot</strong>! You can also discover more possibilities on our <strong>documentation</strong>...</p>
        
            <p class="button"><a href="./documentation">Documentation</a></p>
        </div>

        <pre><code class="language-go"><%= currentCode %></code></pre>
    </section>

    <section class="team">
        <div class="profils">
            <div class="profil">
                <img src="/images/team/bluzzi.webp" alt="Bluzzi">
    
                <div class="profil-description">
                    <p>Bluzzi</p>
                    <p>Website development</p>

                    <div class="medias">
                        <a href="https://twitter.com/Bluzzi_" target="_blank"><img src="/images/medias/twitter.svg" alt="Twitter"></a>
                        <a href="https://github.com/Bluzzi" target="_blank"><img src="/images/medias/github.svg" alt="GitHub"></a>
                    </div>
                </div>
            </div>
    
            <div class="profil">
                <img src="/images/team/seyz.webp" alt="Seyz">
                
                <div class="profil-description">
                    <p>Seyz</p>
                    <p>Main API Developer</p>

                    <div class="medias">
                        <a href="https://twitter.com/szeroki_" target="_blank"><img src="/images/medias/twitter.svg" alt="Twitter"></a>
                        <a href="https://github.com/Seyz123" target="_blank"><img src="/images/medias/github.svg" alt="GitHub"></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bubble for animation -->
        <ul class="bubbles">
            <% for(let i = 0; i < 30; i++){ %>
                <li></li>
            <% } %>
        </ul>
    </section>

    <footer>
        <p><a href="https://twitter.com/Bluzzi_" target="_blank">Goscord Website - Made with ❤️ by Bluzzi</a></p>
    </footer>

    <script src="/scripts/prism.js"></script>
</body>
</html>
