<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Goscord</title>

    <link rel="icon" type="image/png" href="/images/logo.png"/>

    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/base.css">

    <link rel="stylesheet" href="/css/pages/index.css">
</head>
<body>
    <header>
        <h1>GOSCORD</h1>

        <div class="buttons">
            <p><a href="https://github.com/Goscord" target="_blank">GitHub</a></p>
            <p id="module">go get github.com/Goscord/goscord</p>
        </div>

        <ul>
            <% for(let i = 0; i < 40; i++){ %>
                <li></li>
            <% } %>
        </ul>
    </header>
</body>
</html>