<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Goscord</title>

    <link rel="icon" type="image/png" href="/images/logo.png"/>

    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/base.css">

    <link rel="stylesheet" href="/css/pages/index.css">
</head>
<body>
    <header>
        <h1>GOSCORD</h1>

        <div class="buttons">
            <p><a href="https://github.com/Goscord" target="_blank">GitHub</a></p>
            <p id="module">go get github.com/Goscord/goscord</p>
        </div>

        <ul>
            <% for(let i = 0; i < 40; i++){ %>
                <li></li>
            <% } %>
        </ul>
    </header>

    <section>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, blanditiis!</p>
        <p>Maiores harum quas amet provident dolor modi quos atque nesciunt?</p>
        <p>Tempora ab asperiores dolore mollitia corrupti pariatur blanditiis harum delectus.</p>
        <p>Delectus, commodi nulla odit laboriosam suscipit dolores ipsam recusandae sit!</p>
        <p>Dolorem commodi cupiditate officia praesentium dignissimos blanditiis architecto sequi aperiam.</p>
        <p>Corporis, cumque. Deserunt asperiores nisi itaque, nihil odit eius nemo.</p>
        <p>Consectetur esse, odit placeat nemo recusandae quis nobis corporis ipsum.</p>
        <p>Eaque, necessitatibus dolor dolore quibusdam nobis atque sit dolores vel.</p>
        <p>Quod doloremque pariatur explicabo ex, quibusdam similique provident illum ratione?</p>
        <p>Vel tenetur ea, fugit ad veritatis obcaecati error ipsum repellat.</p>
        <p>Veniam id, incidunt sit culpa maiores quos ab ea dolore.</p>
        <p>Assumenda molestiae facere nisi pariatur at aliquam accusamus modi aspernatur.</p>
        <p>Iste explicabo nam nesciunt ipsam officia deleniti cumque animi ullam.</p>
        <p>Vitae quas fugiat iure totam quo expedita aut suscipit harum.</p>
        <p>Perferendis tenetur vero, non et harum voluptas sunt doloribus deleniti.</p>
        <p>Eligendi maxime obcaecati aliquid excepturi, vitae iste magnam nulla ut!</p>
        <p>Repellendus fuga vitae eos mollitia in quidem qui, sunt aperiam?</p>
        <p>Debitis hic officia eius! Quisquam impedit asperiores laborum sapiente voluptatum.</p>
        <p>Ducimus voluptate ipsam suscipit inventore dolorem quasi aperiam quisquam optio.</p>
        <p>Reiciendis, eos at praesentium distinctio minima natus laborum laboriosam eius.</p>
        <p>Ipsa atque accusamus blanditiis, et sint reprehenderit vitae quam quasi.</p>
        <p>Quia provident ipsam laborum, vero consectetur explicabo doloribus quisquam magni.</p>
        <p>Nihil accusamus ab quia vero similique accusantium, ea porro et?</p>
        <p>Voluptatem, atque! Facere velit cumque qui nesciunt dicta natus repudiandae!</p>
        <p>In quis dolor facere veritatis magnam ad esse illum doloremque!</p>
        <p>Pariatur eveniet veritatis esse sunt voluptatibus, repellat quasi eaque ab!</p>
        <p>Deleniti quibusdam amet odio ipsum eligendi consectetur facere ratione quo.</p>
        <p>Nobis alias architecto tempora maxime soluta minus sunt dolores saepe?</p>
        <p>Sapiente, nostrum possimus accusamus sed aut expedita ab dolorem est.</p>
        <p>Delectus optio, explicabo incidunt saepe similique culpa accusamus quia voluptas?</p>
        <p>Velit aspernatur aliquid minus incidunt perspiciatis doloribus vel vero suscipit.</p>
        <p>Ducimus numquam eos maxime possimus quidem, voluptas et nesciunt porro.</p>
        <p>Tempora sed officiis itaque praesentium amet esse odio repellendus recusandae?</p>
        <p>Autem facere repudiandae vitae perferendis sit exercitationem cupiditate reprehenderit veniam.</p>
        <p>Totam quaerat natus nihil pariatur, dignissimos officiis illum autem. Tenetur?</p>
        <p>Dignissimos aliquid omnis ut illum repudiandae quidem voluptatem id ipsum?</p>
        <p>Asperiores magnam temporibus cupiditate assumenda tenetur molestiae reprehenderit recusandae earum.</p>
        <p>Culpa incidunt quidem ratione laborum omnis repudiandae quisquam hic itaque?</p>
        <p>Natus dignissimos, ut perspiciatis commodi numquam accusamus quibusdam optio cupiditate?</p>
        <p>Soluta expedita inventore reprehenderit animi qui nam officia eaque mollitia?</p>
        <p>Exercitationem modi doloribus quos culpa et, officiis autem aliquam necessitatibus!</p>
        <p>Nesciunt corrupti inventore aperiam blanditiis eligendi sit vel ab voluptatibus!</p>
        <p>Ipsam adipisci nisi asperiores sequi nemo quae omnis reiciendis error.</p>
        <p>Reiciendis, vero corporis. Quasi repudiandae libero quibusdam, ullam veritatis similique.</p>
        <p>Dolorum temporibus odit veritatis maxime? Consectetur ipsum possimus molestiae reiciendis.</p>
        <p>Debitis cum omnis eligendi quo a facilis quis molestiae harum!</p>
        <p>Facilis, eius. Adipisci non nihil, odit molestiae maxime eius harum!</p>
        <p>Voluptatem perspiciatis corporis quod placeat, sint aspernatur reiciendis voluptas ratione.</p>
        <p>Voluptatum, in? Tempora atque iusto officiis similique animi aut ipsa?</p>
        <p>Consequuntur officia tempora quam nesciunt voluptatem dolorum nemo sapiente nobis?</p>
    </section>
</body>
</html>