@import "../import/color.scss";
@import "../import/function.scss";
@import "../import/mixin.scss";

body {
    display: grid;

    grid-template-rows: 100vh auto;
}

header {
    grid-row: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: $color-dark;

    @mixin list-container {
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        margin: 0;
        padding: 0;

        overflow: hidden;

        pointer-events: none;
    }

    // Background animation :

    .bubbles {
        @include list-container();

        li {
            position: absolute;

            display: block;

            list-style: none;

            border-radius: 25px;

            animation-timing-function: linear;
            animation-iteration-count: infinite;

            @for $i from 1 through 50 {
                &:nth-child(#{$i}) {
                    $left: random(100);

                    left: percentage($left / 100);

                    $maxSize: 100;
                    $size: #{randomNumber(20, $maxSize)}px;
                    
                    height: $size;
                    width: $size;

                    animation-delay: #{randomNumber(-7, 7)}s;
                    animation-duration: #{randomNumber(10, 50)}s;

                    background: rgba($color-green, 50% + percentage(random(40%) / 100));

                    @if $i <= 25 {
                        top: -#{$maxSize}px;

                        @if $left < 50 {
                            animation-name: movementDownLeft;
                        } @else {
                            animation-name: movementDownRight;
                        }
                    } @else {
                        bottom: -#{$maxSize}px;

                        @if $left < 50 {
                            animation-name: movementUpLeft;
                        } @else {
                            animation-name: movementUpRight;
                        }
                    }
                }
            }

            @include movementAnimation(movementUpLeft, -1000px, -600px);
            @include movementAnimation(movementUpRight, -1000px, 600px);

            @include movementAnimation(movementDownLeft, 1000px, -600px);
            @include movementAnimation(movementDownRight, 1000px, 600px);
        }
    }

    // Corners :

    .corners {
        @include list-container();

        display: none;

        img {
            position: absolute;

            height: 30vh;
            width: auto;

            @for $i from 1 through 4 {
                &:nth-child(#{$i}){
                    transform: rotate(90deg + ($i - 1) * 90deg);

                    @if $i == 1 {
                        top: 0;
                        left: 0;
                    } @else if $i == 2 {
                        top: 0;
                        right: 0;
                    } @else if $i == 3 {
                        bottom: 0;
                        right: 0;
                    } @else if $i == 4 {
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }
    }

    // Text and buttons :

    h1 {
        color: white;

        font-size: 10em;
        letter-spacing: 5px;

        margin: 0;

        @include shadow(black, 30%);

        z-index: 1;
    }

    #description {
        font-size: 2.7em;
        color: white;
        text-align: center;

        width: 50%;

        margin: 0 0 30px 0;

        position: relative;

        top: -20px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: space-between;
        flex-wrap: wrap;

        height: 125px;
        width: 650px;

        z-index: 1;

        p {
            margin: 0 20px;
        }
    }

    // Scroll mouse :

    .scroll-mouse {
        position: absolute;

        left: 50%;
        bottom: 50px;

        transform: translateX(-50%);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        z-index: 1;

        img {
            height: 40px;
            width: auto;
        }

        p {
            font-size: 0.8em;
            color: white;
        }
    }
}

.what-is {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;

    margin: 80px 0;

    h3 {
        font-size: 3em;
        color: $color-green-pastel;

        margin: 0 0 40px 0;
    }

    p {
        font-size: 1.5em;
        text-align: center;
        color: $color-black-text;

        width: 50vw;

        margin: 0;
    }

    .advantages {
        width: min(1410px, 100%);

        margin-top: 60px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .advantage {
            width: 390px;

            margin: 40px;

            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: 40px 350px;

            * {
                width: 100%;
            }

            .advantage-emoji {
                grid-column: 1;
                grid-row: 1;

                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    margin: 0;
                }
            }

            .advantage-title {
                grid-column: 2;
                grid-row: 1;

                text-align: left;
                color: black;
                font-weight: bold;
                font-size: 1.7em;
            }

            .advantage-description {
                grid-column: 2;
                grid-row: 2;

                text-align: left;
                font-size: 1.3em;
            }
        }
    }
}

.examples {
    height: 90vh;
    
    background-color: $color-green-pastel;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .setup {
        width: min(800px, 45vw);

        p:not(.button) {
            color: white;
            font-size: 2em;

            a {
                font-weight: bold;
                text-decoration: underline;
            }
        }

        #setup {
            font-size: 3.5em;
            font-weight: bold;
        }
    }

    pre {
        width: min(800px, 45vw);

        padding: 20px;

        background-color: white;

        border-radius: 10px;

        box-shadow: 0 0 15px rgba(#000000, 20%);

        /*position: relative; TODO

        img {
            position: absolute;

            top: 10px;
            right: 10px;
        }*/

        code p {
            font-size: 2em;
        }
    }
}

.team {
    height: 40vh;
    width: 70%;

    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .profil {
        display: flex;

        box-shadow: 0 0 10px rgba(#000000, 50%);

        border-radius: 20px;

        padding: 30px 50px;

        img {
            height: 17vh;
            width: 17vh;
    
            object-fit: cover;
    
            border-radius: 300px;
        }

        .profil-description {
            display: flex;
            flex-direction: column;
            justify-content: center;
        
            * {
                margin: 6px 0 6px 20px;
            }

            p:nth-child(1) {
                font-size: 2em;
            }

            p:nth-child(2) {
                font-size: 1.4em;
                color: $color-black-text;
            }
        }
    }
}

.statistic {
    height: 50vh;

    background-color: $color-green-pastel;
}

// Button style and color transition :

.button {
    background-color: white;

    border-radius: 10px;

    font-size: 1.5em;
    color: $color-black-text;

    width: max-content;

    padding: 10px 20px;

    cursor: pointer;

    @include shadow(black, 30%);

    display: flex;
    align-items: center;

    a {
        color: $color-black-text;
    }

    a:hover {
        color: $color-blue-flash;
    }
}

.copy-image {
    height: 20px;
    width: auto;

    opacity: 75%;

    margin-right: 10px;
}

@keyframes colorTransition {
    from {
        color: rgba($color-blue-flash, 75%);
    }

    to {
        color: rgba(black, 75%);
    }
}