@import "../import/color.scss";
@import "../import/function.scss";
@import "../import/mixin.scss";

header {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: $color-dark;

    position: relative;

    // Background animation :

    .bubbles {
        @include list-container();

        height: 100%;

        li {
            position: absolute;

            display: block;

            list-style: none;

            border-radius: 25px;

            animation-timing-function: linear;
            animation-iteration-count: infinite;

            @for $i from 1 through 50 {
                &:nth-child(#{$i}) {
                    $left: random(100);

                    left: percentage(calc($left / 100));

                    $maxSize: 100;
                    $size: #{randomNumber(20, $maxSize)}px;
                    
                    height: $size;
                    width: $size;

                    animation-delay: #{randomNumber(-7, 7)}s;
                    animation-duration: #{randomNumber(10, 50)}s;

                    background: rgba($color-green, 50% + percentage(calc(random(40%) / 100)));

                    @if $i <= 25 {
                        top: -#{$maxSize}px;

                        @if $left < 50 {
                            animation-name: movementDownLeft;
                        } @else {
                            animation-name: movementDownRight;
                        }
                    } @else {
                        bottom: -#{$maxSize}px;

                        @if $left < 50 {
                            animation-name: movementUpLeft;
                        } @else {
                            animation-name: movementUpRight;
                        }
                    }
                }
            }

            @include movementAnimation(movementUpLeft, -1000px, -600px);
            @include movementAnimation(movementUpRight, -1000px, 600px);

            @include movementAnimation(movementDownLeft, 1000px, -600px);
            @include movementAnimation(movementDownRight, 1000px, 600px);
        }
    }

    // Corners :

    .corners {
        @include list-container();

        display: none;

        img {
            position: absolute;

            height: 30vh;
            width: auto;

            @for $i from 1 through 4 {
                &:nth-child(#{$i}){
                    transform: rotate(90deg + ($i - 1) * 90deg);

                    @if $i == 1 {
                        top: 0;
                        left: 0;
                    } @else if $i == 2 {
                        top: 0;
                        right: 0;
                    } @else if $i == 3 {
                        bottom: 0;
                        right: 0;
                    } @else if $i == 4 {
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }
    }

    // Text and buttons :

    h1 {
        color: white;

        font-size: 10em;
        letter-spacing: 5px;

        margin: 0;

        @include shadow(black, 30%);

        z-index: 1;
    }

    #description {
        font-size: 2.7em;
        color: white;
        text-align: center;

        width: 50%;

        margin: 0 0 30px 0;

        top: -20px;
    }

    nav {
        z-index: 3;

        * {
            list-style: none;
        }

        .burger {
            position: fixed;

            bottom: 20px;
            right: 20px;

            height: 60px;
            width: 60px;

            margin: 0;
            padding: 0;

            background-color: white;

            border-radius: 40px;
            
            box-shadow: 0 0 3px rgba(#000000, 30%);

            cursor: pointer;

            transition: opacity 0.2s;

            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            li {
                height: 3px;
                width: 30px;

                border-radius: 20px;

                background-color: rgba(#000000, 70%);

                transition: background-color 0.5s, transform 0.5s, opacity 0.2s;

                &:nth-child(1), &:nth-child(2) {
                    margin-bottom: 7.5px;
                }
            }
        }

        .menu {
            position: fixed;

            bottom: 15vh;
            right: -100vw;

            height: max-content;
            width: max-content;

            margin: 0;
            padding: 10px 0;

            border-radius: 10px 0 0 10px;

            box-shadow: 0 0 15px rgba(#000000, 40%);

            background-color: white;

            transition: transform 0.8s;

            display: flex;
            justify-content: center;
            flex-direction: column;

            p {
                font-size: 1.5em;

                margin: 5px 5vw 5px 2.5vw;

                a {
                    color: $color-black-text;
                    opacity: 90%;

                    &:hover {
                        color: $color-green-pastel;
                    }
                }
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: space-between;
        flex-wrap: wrap;

        height: 125px;
        width: 650px;

        z-index: 1;

        p {
            margin: 0 20px;
        }
    }

    @media (max-width: 920px) {
        h1 {
            font-size: 20vw;
        }

        #description {
            width: 95%;

            font-size: 7.5vw;
        }

        nav .burger {
            display: flex;
        }

        .buttons {
            display: none;
        }
    }

    // Scroll mouse :

    .scroll-mouse {
        position: absolute;

        left: 50%;
        bottom: 50px;

        transform: translateX(-50%);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        z-index: 1;

        img {
            height: 40px;
            width: auto;
        }

        p {
            font-size: 0.8em;
            color: white;
        }
    }
}

.what-is {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;

    margin: 80px 0;

    h3 {
        font-size: 3em;
        color: $color-green-pastel;

        margin: 0 0 40px 0;

        text-align: center;
    }

    p {
        font-size: 1.5em;
        text-align: center;
        color: $color-black-text;

        width: 60%;

        margin: 0;
    }

    @media (max-width: 920px) {
        h3 {
            font-size: 10vw;
        }

        p {
            width: 95%;
        }
    }

    .advantages {
        width: min(940px, 100%);

        margin-top: 60px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .advantage {
            width: 390px;

            margin: 40px;

            display: grid;
            grid-template-rows: auto auto;

            * {
                width: 100%;
            }

            .advantage-top {
                grid-row: 1;

                display: grid;
                grid-template-columns: 40px 350px;

                .advantage-emoji {
                    grid-column: 1;
    
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    p {
                        margin: 0;
                    }
                }
    
                .advantage-title {
                    grid-column: 2;
    
                    text-align: left;
                    color: black;
                    font-weight: bold;
                    font-size: 1.7em;
                }
            }

            .advantage-description {
                grid-row: 2;

                text-align: left;
                font-size: 1.3em;

                margin-left: 40px;
            }

            @media (max-width: 500px) {
                margin: 40px 0;

                .advantage-top {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                   
                    .advantage-emoji {
                        width: 40px;
                    }

                    .advantage-title {
                        width: max-content;
                    }
                }

                .advantage-description {
                    text-align: center;

                    margin-left: 0;
                }
            }
        }
    }
}

.examples {
    height: 90vh;
    
    background-color: $color-green-pastel;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .setup {
        width: min(800px, 45vw);

        p:not(.button) {
            color: white;
            font-size: 2em;

            a {
                font-weight: bold;
                text-decoration: underline;
            }
        }

        #setup {
            font-size: 3.5em;
            font-weight: bold;
        }
    }

    pre {
        width: min(800px, 45vw);

        padding: 20px;

        background-color: white;

        border-radius: 8px;

        box-shadow: 0 0 15px rgba(#000000, 15%);

        code p {
            font-size: 2em;
        }
    }

    @media (max-width: 1200px) {
        height: auto;

        flex-direction: column;
        justify-content: center;

        .setup {
            width: 95vw;

            margin-bottom: 40px;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            p {
                text-align: center;
            }

            .button {
                font-size: 4vw;

                width: max-content;
            }
        }

        pre {
            width: 90vw;

            padding: 2vw;
            margin-bottom: 80px;

            &::-webkit-scrollbar {
                width: 0px;
            }
        }
    }
}

.team {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    .profils {
        width: 75%;

        z-index: 2;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;

        margin: 8vh 0;

        @media (max-width: 1700px) {
            width: 100%;

            .profil {
                margin: 25px;
            }
        }

        .profil {
            display: flex;

            width: min(400px, 90vw);
    
            box-shadow: 0 0 10px rgba(#000000, 15%);
    
            border-radius: 10px;

            background-color: white;
    
            padding: 25px 40px;

            @media (max-width: 800px) {
                padding: 2vh 4vw;
            }
    
            > img {
                height: 17vh;
                width: 17vh;
        
                object-fit: cover;
        
                border-radius: 300px;
            }
    
            .profil-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
            
                p {
                    margin: 6px 0 6px 20px;
                }
    
                p:nth-child(1) {
                    font-size: 2em;
                }
    
                p:nth-child(2) {
                    font-size: 1.4em;
                    color: $color-black-text;
                }

                img {
                    height: 25px;
                    width: auto;

                    margin: 10px 0 0 20px;

                    opacity: 75%;

                    transition: opacity 0.1s;

                    &:hover {
                        opacity: 50%;
                    }
                }
            }
        }
    }

    .bubbles {
        @include list-container();

        display: flex;
        align-items: center;

        @media (max-width: 1250px) {
            display: none;
        }

        li {
            position: absolute;

            display: block;

            list-style: none;

            border-radius: 25px;

            animation-timing-function: linear;
            animation-iteration-count: infinite;

            @for $i from 1 through 20 {
                &:nth-child(#{$i}) {
                    $maxSize: 100;
                    $size: #{randomNumber(30, $maxSize)}px;
                    
                    height: $size;
                    width: $size;

                    animation-delay: #{randomNumber(-15, 15)}s;
                    animation-duration: #{randomNumber(10, 20)}s;

                    background: rgba($color-green, 50% + percentage(calc(random(40%) / 100)));

                    @if $i <= 15 {
                        left: -#{$maxSize}px;

                        animation-name: movementRight;
                    } @else {
                        right: -#{$maxSize}px;

                        animation-name: movementLeft;
                    }
                }
            }

            @include movementAnimation(movementLeft, 0, -100vw);
            @include movementAnimation(movementRight, 0, 100vw);
        }
    }
}

footer {
    height: 2.5rem;

    background-color: $color-dark;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: white;
        font-size: 1.1rem;
        text-align: center;

        @media (max-width: 550px) {
            font-size: 5vw;
        }
    }
}

// Button style and color transition :

.button {
    background-color: white;

    border-radius: 10px;

    font-size: 1.5em;
    color: $color-black-text;

    width: max-content;

    padding: 10px 20px;

    cursor: pointer;

    @include shadow(black, 30%);

    display: flex;
    align-items: center;

    a {
        color: $color-black-text;
    }

    a:hover {
        color: $color-green-pastel;
    }
}

.copy-image {
    height: 20px;
    width: auto;

    opacity: 75%;

    margin-right: 10px;
}

@keyframes colorTransition {
    from {
        color: rgba($color-green-pastel, 75%);
    }

    to {
        color: rgba(black, 75%);
    }
}