@mixin shadow($color, $shadowPercent) {
    filter: drop-shadow(0 0 5px rgba($color, $shadowPercent));
}

@mixin movementAnimation($name, $toY, $toX) {
    @keyframes #{$name} {
        0% {
            transform: translateY(0) translateX(0) rotate(0deg);

            opacity: 1;
        }
    
        100% {
            transform: translateY($toY) translateX($toX) rotate(720deg);

            opacity: 0;
        }
    }   
}