@mixin shadow($color, $shadowPercent) {
    filter: drop-shadow(0 0 5px rgba($color, $shadowPercent));
}

@mixin movementAnimation($name, $toY, $toX) {
    @keyframes #{$name} {
        0% {
            transform: translateY(0) translateX(0) rotate(0deg);

            opacity: 1;
        }

        100% {
            transform: translateY($toY) translateX($toX) rotate(720deg);

            opacity: 0;
        }
    }   
}

@mixin list-container {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;

    pointer-events: none;
}